.container {
    display: grid;
    background-color: #3A4F39;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    grid-gap: 50px;
    padding: 20px;
}

.BackButton {
    padding: 15px;
    width: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    right: 15%;
}