.container {
    display: grid;
    grid-template-columns: 100px 300px;

    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 20px;

    background-color: #3A4F39;
    color: #fff;

    font-family: 'Inter', sans-serif;
}

.BackButton {
    padding: 15px;
    width: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    right: 20%;
    cursor: pointer;


}