.PricingPage {

    @media (min-width: 1301px) {
        grid-template-columns: 400px 400px 400px;
    }

    @media (max-width: 1300px) {
        grid-template-columns: 400px 400px;
    }

    @media (max-width: 850px) {
        grid-template-columns: 300px;
    }

    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;

    max-width: 1700px;
}

.pageBox {
    font-size: 50px;
}

.post {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #3A4F39;
    background-color: #3A4F39;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    list-style-type: none;

}

.link {
    color: #fff;
}